/*********************
RESET CSS
**********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*********************
SHARED CSS
**********************/

html {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
}

a {
  color: #71d99e;
  cursor: pointer;
}

.nav-link,
.header-link {
  cursor: pointer;
}

/************************
OUTER GRID 
**************************/
.outer-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 50px 1fr;
  grid-template-areas:
    "header_area        header_area"
    "main_content_area  main_content_area";
}

.outer-grid-changed {
  grid-template-areas:
    "header_area  header_area"
    "nav_area     main_content_area";
}

header {
  background-color: aquamarine;
  grid-area: header_area;
}

.hide-nav {
  display: none;
}

nav {
  grid-area: nav_area;
}

.main-content-grid {
  grid-area: main_content_area;
}

/**********************
MAIN-CONTENT-GRID
*************************/
.main-content-grid {
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 1fr auto 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main_area"
    "aside_area"
    "footer_area";
}

main {
  grid-area: main_area;
}

aside {
  grid-area: aside_area;
}

footer {
  grid-area: footer_area;
}

/********************
HEADER STYLES
************************/
header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e4040;
  color: #71d99e;
}

.header-left {
  display: flex;
  align-items: center;
}

#bar-icon {
  margin-right: 10px;
}

#bar-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header-right {
  display: flex;
}

.header-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.header-right i {
  font-size: 0.8rem;
}

.header-right a {
  font-size: 0.9rem;
}

/***************************
ARTICLE STYLES (AND ASIDE)
******************************/
main,
aside {
  padding: 5% 30px;
}

h1,
h2,
h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

img {
  border-radius: 3%;
  box-shadow: -1px -1px 19px 2px rgba(0, 0, 0, 0.26);
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 100%;
}

/***********************
COLLAGE GRID
***********************/
.collage {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 30px 1fr 30px 1fr;
  align-items: center;
}

.collage * {
  grid-row-start: 1;
  grid-row-end: 2;
}

.collage-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 1;
  transform: rotate(-4deg);
}

.collage-2 {
  grid-column-start: 2;
  grid-column-end: 5;
  z-index: 2;
}

.collage-3 {
  grid-column-start: 4;
  grid-column-end: 6;
  z-index: 1;
  transform: rotate(4deg);
}

/*********************
NAV BAR
***************************/

nav {
  padding: 25px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.nav-link i {
  color: #1e4040;
}

.nav-link a {
  color: #1e4040;
}

/*******************
FOOTER
**************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e4040;
  color: white;
  font-size: 0.8rem;
}

/************************
DIFFERENT SCREEN SIZES
****************************/
@media (min-width: 576px) {
  #show-nav {
    display: block;
  }
  .outer-grid {
    grid-template-areas:
      "header_area  header_area"
      "nav_area     main_content_area";
  }

  #bar-icon {
    display: none;
  }
}

@media (min-width: 992px) {
  .main-content-grid {
    grid-template-rows: 1fr 50px;
    grid-template-columns: minmax(auto, 700px) 1fr;
    grid-template-areas:
      "main_area    aside_area"
      "footer_area  footer_area";
  }
}

@media (min-width: 1400px) {
  .outer-grid {
    grid-template-columns: 1fr 950px 1fr;
    grid-template-areas:
      "header_area header_area       header_area"
      "nav_area    main_content_area main_content_area";
  }

  #show-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 950px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header_left_area . header_right_area";
  }

  .header-left {
    grid-area: header_left_area;
    justify-self: end;
  }

  .header-right {
    grid-area: header_right_area;
    justify-self: start;
  }
}
